
/// <summary>Generated framework behavior that wraps <see cref="{{ImplementationTypeSummary}}"/>.</summary>
[DecoratorFor<{{ImplementationType}}>]
{{Coverage}}internal sealed partial class {{RandomName}}({{ImplementationType}} handler, global::Microsoft.Extensions.Options.IOptions<{{OptionsType}}> options) : {{BehaviorAbstraction}}(handler, options);
